body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: gray;
  padding: 5px;
} */

/* Designing all grid-items */
/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
} */
